//colour palette

$colorPaletteSettings: (
  primary: #11141F,
  secondary: #161D2E,
  tertiary: #0d0f19,
  
  core-light-grey: #DEE2E6,
  core-dark-grey: #535762,

  core-white: #fff,
  core-red: #FD4547

);



@function colorPaletteSetting($key) {
  @if map-has-key($colorPaletteSettings, $key) {
    @return map-get($colorPaletteSettings, $key);
  }

  @warn "Unknown `#{$key}` in $colorPaletteSettings.";
  @return null;
}
